meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="author", content=config.author)

block page_description
  meta(name="description", content=config.description)

block site_title
  title #{config.title}
// favicon
link(href=config.root + "favicon.png", rel="icon")
// Stylesheets
!= css("css/all")
