///////////////////////////////////////
// DESIGN GUIDE
///////////////////////////////////////
//max content width
$max_width: 1100px;
$sub_width:  800px;

//-------------------------------------
// Color
// http://www.materialui.co/colors
//-------------------------------------
$black:  #585858;
$white:  white;
$gray:   #eee;
$c-main: #1E88E5;

//-------------------------------------
// Fonts
//-------------------------------------
@import url(https://fonts.googleapis.com/css?family=Lato:400);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
$font_family:'Lato', Helvetica, 'Noto Sans Japanese', "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;

// base font size
$font_size01: 14px;
$font_size02: 16px;
$font_size03: 18px;
$font_size04: 20px;
$font_size05: 22px;

//-------------------------------------
// Margin
//-------------------------------------
$margin_xs:  6px;
$margin_sm: 12px;
$margin_md: 24px;
$margin_lg: 48px;
$margin_xl: 96px;

//-------------------------------------
// responsive
//-------------------------------------
$sm:"screen and (max-width:500px)";
$md:"screen and (max-width:818px)";
$lg:"screen and (max-width:#{$max_width})";
$xl:"screen and (min-width:1500px)";
