/*---------------------------------------/
 * ARTICLE
 * this is only for article.
/---------------------------------------*/
$border-bottom-article: 1px dotted darken($gray,10%);
.article-hero {
  width: 100%;
  margin-top: -$margin_lg;
  height: 240px;
  background-position:center;
}
.article {
  background-color: $white;
  text-align: justify;
  margin: 0 $margin_lg + $margin_md;
  @media #{$sm} {
    margin: 0 $margin_md;
  }

  p {
    font-size: $font_size02;
    letter-spacing: 1px;
    line-height: 42px;
    margin: $margin_md 0 $margin_md 0;
    @media #{$sm} {
      font-size:$font_size01;
      line-height:$font_size02 * 2.4;
      margin: $margin_sm 0 $margin_md 0;
    }
    & + p {
      margin-top: $margin_lg;
    }
  }
  h2 {
    font-size: $font_size04;
    font-weight: normal;
    margin: $margin_xl 0 $margin_md 0;
    padding-bottom: $margin_sm;
    border-bottom: $border-bottom-article;
    @media #{$sm} {
      font-size:$font_size03;
      margin: $margin_lg 0 $margin_sm 0;
    }
  }
  h3 {
    font-size: $font_size03;
    font-weight: normal;
    border-bottom: 2px solid darken($gray,10%);
    padding: 0 $margin_sm $margin_xs 0;
    display: inline-block;
    margin: $margin_lg 0 0 0;
    & + * {
      margin-top: $margin_sm;
    }
    @media #{$sm} {
      font-size:$font_size02;
      margin: $margin_md 0 0 0;
    }
  }
  h4 {
    font-size: $font_size02 + 1;
    margin: $margin_lg 0 $margin_sm 0;
    &::before {
      content:"・";
      font-size: $font_size03;
      padding-right: 2px;
    }
    & + * {
      margin-top: $margin_sm;
    }
    @media #{$sm} {
      font-size:$font_size01+1;
      margin: $margin_md 0 $margin_xs 0;
    }
  }
  ul,ol {
    margin: $margin_sm 0 $margin_md 0;
    padding: 0 0 0 20px;
    @media #{$sm} {
      margin-bottom: $margin_sm;
    }
    li {
      font-size: $font_size02;
      line-height: 2.2;
      @media #{$sm} {
        font-size:$font_size01;
      }
    }
  }
  em {
    font-style: normal;
    font-size: $font_size02;
    font-weight: bold;
    @media #{$sm} {
      font-size:$font_size01;
    }
  }
  pre, code {
    font-family: $font_family_code;
    @include font-smoothing(off);
  }
  code {
    background-color: lighten($gray,2%);
    padding:2px 4px;
    margin: 0 3px;
    @media #{$sm} {
      font-size:$font_size01;
    }
  }
  hr {
    border: 0;
    border-bottom: $border-bottom-article;
  }
  blockquote {
    border-left: 8px solid $gray;
    padding-left: 10px;
    font-style: italic;
    @media #{$sm} {
      font-size:$font_size02;
    }
  }
}
