/*---------------------------------------/
 * COMMON
 * common styles, such as body backgrounds.
/---------------------------------------*/
body {
  background-color: $gray;
}
a {
  color: $c-main;
  text-decoration: none;
  @extend %transition;
  &:hover {
    color: lighten($c-main,10%);
  }
}
%transition {
  @include transition(0.4s);
}
.box-href {
  display: block;
}

/*---------------------------------------/
 * POST HEADER
 * style in index posts and article header.
/---------------------------------------*/
%postHeader {
  margin: 0 $margin_lg;
  padding: $margin_md;
  border-bottom: 1px dotted darken($gray,10%);
}
.postHeader {
  @extend %postHeader;
}
.postHeader_index {
  @extend %postHeader;
  &:hover {
    background-color: lighten($gray,5%);
  }
}
.postHeader--title {
  font-size: $font_size04;
  margin: 0;
  font-weight: normal;
}
.postHeader--desc {
  font-size: $font_size01;
  margin: $margin_xs 0 $margin_sm 0;
  color: lighten($black,20%);
  font-weight: normal;
  font-style: normal;
}
%postHeader-data {
  display: inline-block;
  font-size: $font_size01;
}
.postHeader--date {
  @extend %postHeader-data;
  padding: 0;
  margin: 0;
  color: lighten($black,20%);

}
.postHeader--tags {
  position: absolute;
  right:$margin_lg;
  bottom: $margin_xs;
  z-index: 1;
}
.postHeader--tag {
  @extend %postHeader-data;
  background-color: $white;
  color: $c-main;
  border: 1px solid $c-main;
  padding:2px $margin_sm;
  margin: $margin_sm 4px 0 0;
  &:hover {
    background-color: $c-main;
    color: $white;
  }
}