/*---------------------------------------/
 * LAYOUT
 * layout styles.
/---------------------------------------*/
$side_width: 200px;
.l-main {
  background-color: $white;
  width: $max_width;
  margin: 0 auto 0 $side_width + 40;
}
.l-main--inner {
  padding: $margin_lg 0;
}
.l-side {
  background-color: $white;
  width: $side_width;
  height:100vh;
  position: fixed;
}
.l-side--inner {
  padding: $margin_xl 0 $margin_xl 34px;
  height: 100%;
}
