doctype html
html(lang='ja')
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")

    title タイトル
    meta(name="description", content="")
    link(rel="icon" href="favicon/favicon.ico")
    != css('css/all')
    body
      != body