.l-main
	.l-main--inner
		h1 #{page.title}
		p #{page.date.format(config.date_format)}
		- if (page.tags && page.tags.length) {
		- page.tags.each(function(tag){
		a(href="#{tag.path}") #{tag.name}
		- });
		- };
		article.article
			!= page.content