/*---------------------------------------/
 * ARTICLE
 * this is only for article.
/---------------------------------------*/
$border-bottom-article: 1px solid darken($gray,10%);
.article {
  text-align: justify;
  margin: 0 $margin_lg + $margin_md;
  p {
    font-size: $font_size02;
    letter-spacing: 1px;
    line-height: 42px;
    margin: $margin_md 0 $margin_lg 0;
  }
  h2 {
    font-size: $font_size04;
    margin: $margin_xl 0 $margin_md 0;
    padding-bottom: $margin_sm;
    border-bottom: $border-bottom-article;
  }
  h3 {
    font-size: $font_size03;
    margin: $margin_lg 0 $margin_sm 0;
    & + * {
      margin-top: $margin_sm;
    }
  }
  h4 {
    font-size: $font_size02 + 1;
    margin: $margin_lg 0 $margin_sm 0;
    &::before {
      content:"・";
      font-size: $font_size03;
      padding-right: 2px;
    }
    & + * {
      margin-top: $margin_sm;
    }
  }
  ul {
    margin: $margin_sm 0 $margin_md 0;
    padding: 0 0 0 20px;
    li {
      font-size: $font_size02;
      line-height: 2.2;
    }
  }
  em {
    font-style: normal;
    font-size: $font_size02;
    font-weight: bold;
  }
  code {
    background-color: $gray;
    padding:2px 4px;
    margin: 0 3px;
  }
  hr {
    border: 0;
    border-bottom: $border-bottom-article;
  }
  blockquote {
    border-left: 8px solid $gray;
    padding-left: 10px;
    font-style: italic;
  }
}