/*---------------------------------------/
 * COMMON
 * common styles, such as body backgrounds.
/---------------------------------------*/
body {
  background-color: $gray;
}
a {
  color: $c-main;
  text-decoration: none;
  @extend %transition;
  &:hover {
    color: lighten($c-main,10%);
  }
}
%transition {
  @include transition(0.4s);
}
