/*---------------------------------------/
 * COMMON
 * common styles, such as body backgrounds.
/---------------------------------------*/
body {
  background-color: $gray;
  width: $max_width;
  margin:auto;
}