/*---------------------------------------/
 * index
 * this is only for index.
/---------------------------------------*/
.postHeader {
  margin: 0 $margin_lg;
  padding: $margin_sm $margin_md;
  border-bottom: 1px dotted $gray;
  &:hover {
    background-color: lighten($gray,5%);
  }
}
.postHeader--title {
  font-size: $font_size04;
  margin: $margin_sm 0;
  font-weight: normal;
}
.postHeader--desc * {
  font-size: $font_size01;
  margin: $margin_xs 0 $margin_sm 0;
  color: lighten($black,20%);
  font-weight: normal;
  font-style: normal;
}
%postHeader-data {
  font-size: $font_size01;
  padding:2px $margin_sm;
  margin-right:4px;
}
.postHeader--tag {
  @extend %postHeader-data;
  background-color: $white;
  color: $c-main;
  border: 1px solid $c-main;
  &:hover {
    background-color: $c-main;
    color: $white;
  }
}
.postHeader--date {
  background-color: $c-main;
  color: $white;
  border: 1px solid $c-main;
  @extend %postHeader-data;
  display: inline;
}