/*---------------------------------------/
 * LAYOUT
 * layout styles.
/---------------------------------------*/
.l-main {
  background-color: $white;
  width: $max_width;
  margin:auto;
}

.l-inner {
  padding: $margin_md $margin_xl;
}
